{% extends 'base.html.twig' %}


{% block title %}Training Factory{% endblock %}

{% block content %}

    <h1 class="text-center text-success p-4">Wordt fit en sterk met onze bokslessen!</h1>

    <div class="container items-center">
        <div class="row justify-content-evenly">
            <div class="col-4">
                <h3 class="fw-bold text-success"> Openingstijden </h3>
                <table class="table table-striped fw-semibold">
                    <tr>
                        <td>maandag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>dinsdag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>woensdag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>donderdag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>vrijdag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>zaterdag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                    <tr>
                        <td>zondag</td>
                        <td>07.00 - 21.00</td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <h3 class="fw-bold text-success">Kom bij ons boksen!</h3>
                <p class="fw-semibold">Onze sportschool biedt bokslessen aan die perfect zijn voor iedereen die op zoek is naar intensieve workout en een gezonde levensstijl. We willen een positieve en ondersteunende omgeving creëren, waar iedereen welkom is in te sporten en zichzelf uit te dagen. Onze deskundige trainers zijn er om je te helpen en te motiveren bij elke stap van je fitnessreis. Dus waar wacht je nog op? Kom langs en ervaar de voordelen van boksen voor je lichaam en geest. </p>
            </div>
    </div>

{% endblock %}