{% extends 'user/member.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block content %}
    <h1>Create new Lesson</h1>

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('member_lesson_index') }}">back to list</a>
{% endblock %}
